<html>
<head>
<title>HTML </title>
</head>
<body>

<form method="POST">
<input type="text" name="calculator" value="{{ calculator }}" readonly>
<div class="row">
	<input type="submit" name="button" value="1" >
	<input type="submit" name="button" value="2" >
	<input type="submit" name="button" value="3" >
	<input type="submit" name="button" value="C" >
</div>

<div class="row">
	<input type="submit" name="button" value="4">
	<input type="submit" name="button" value="5">
	<input type="submit" name="button" value="6">
	<input type="submit" name="button" value="+">
</div>

<div class="row">
	<input type="submit" name="button" value="7" >
	<input type="submit" name="button" value="8" >
	<input type="submit" name="button" value="9" >
	<input type="submit" name="button" value="-" >
</div>

<div class="row">
	<input type="submit" name="button" value="0">
	<input type="submit" name="button" value="*">
	<input type="submit" name="button" value="/">
	<input type="submit" name="button" value="=">
</div>

<div class="row">
	<input type="submit" name="button" value="(" >
	<input type="submit" name="button" value=")" >
	<input type="submit" name="button" value="sin">
	<input type="submit" name="button" value="tan">
</div>

<div class="row">
	<input type="submit" name="button" value="cos" >
	<input type="submit" name="button" value="log" >
	<input type="submit" name="button" value="sqrt">
	<input type="submit" name="button" value="CE">
</div>

</form>


</body>
</html>

